* {
  padding: 5px;
  margin: 5px;
}
* {
    padding: 5px;
    margin: 5px;
    background-image: url('images/p1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.ok {
  font-family: monospace;
}
.list {
  text-align: justify;
  text-decoration: underline;
  border: 10px solid blueviolet;
  border-radius: 10px;
  background-color: antiquewhite;
  box-shadow: blueviolet;
}
.button{
    color: chocolate;
    /* border: 10px solid red; */
    font-family: sans-serif;
    font-size: larger;
    font-weight: 900;
    text-shadow: color(srgb-linear red green blue);
}